@import '../../styles/breakpoints.scss';
@import '../../styles/variables.scss';

.flights-table__item {
  padding: 5px;
  -webkit-box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.2);
  &:nth-child(odd) {
    background-color: $backgroundColor;
  }
  &:nth-child(even) {
    background-color: $tableBackground;
  }
  @include for-medium-screen {
    flex: 1;
    display: flex;
    padding: 10px 20px;
  }
  @include for-large-screen {
    padding: 15px;
    &:hover .details-field a {
      color: $secondaryTextColor;
    }
  }
  @include for-xtra-large-screen {
    padding: 10px 40px;
  }
}
.item-slot {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  padding: 5px 10px;
  margin-right: 30px;
  color: $titleColor;

  @include for-medium-screen {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0;
  }
  @include for-large-screen {
    padding-left: 15px;
  }
  @include for-xtra-large-screen {
    padding-left: 15px;
  }
}
.time-flight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.city-status-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.terminal-field {
  font-weight: $fontWeightLarge;
  @include for-medium-screen {
    justify-content: center;
    flex: 0 0 8%;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 20px;
    font-size: 22px;
    color: $secondaryTextColor;
    border: 2px solid $secondaryTextColor;
    border-radius: 50%;
  }

  @include for-large-screen {
    flex: 0 0 6%;
    margin: 0 20px;
  }
  @include for-xtra-large-screen {
    flex: 0 0 5%;
    margin: 0 20px;
  }
}
.time-field {
  @include for-medium-screen {
    justify-content: center;
  }
  @include for-large-screen {
    margin-right: 15px;
  }
}

.way-field {
  @include for-medium-screen {
    justify-content: flex-start;
    margin-left: 20px;
  }
  @include for-large-screen {
    margin: 0;
  }
  @include for-xtra-large-screen {
    margin-left: 15px;
  }
}
.status-field {
  @include for-medium-screen {
    min-width: 120px;
  }
  @include for-large-screen {
    justify-content: center;
    min-width: 170px;
  }
  @include for-xtra-large-screen {
    margin-right: 35px;
  }
}

.company-name {
  display: none;
  @include for-medium-screen {
    display: flex;
    min-width: 130px;
    margin-right: 30px;
  }

  & p {
    @include for-medium-screen {
      font-size: 14px;
      margin-left: 5px;
    }
  }
}

.flight-field {
  font-weight: $fontWeightLarge;
  @include for-large-screen {
    font-weight: $fontWeightLarge;
  }
  @include for-xtra-large-screen {
    margin-left: 30px;
  }
}

.details-field {
  display: none;
  @include for-medium-screen {
    justify-content: center;
    margin-right: 0;
  }
  @include for-large-screen {
    display: flex;
    min-width: 150px;
  }
}
.details-field {
  & a {
    color: $titleColor;
    @include for-large-screen {
      display: flex;
      min-width: 150px;
      font-size: 18px;
      font-weight: $fontWeightLarge;
      color: transparent;
      transition: all 0.2s ease;
    }
  }
}
.logo {
  display: none;
  @include for-medium-screen {
    display: inline-block;
  }
  & img {
    width: 60px;
    height: 15px;

    @include for-xtra-large-screen {
      height: 40px;
    }
  }
}
