@import './breakpoints.scss';
@import './variables.scss';

body {
  min-height: 100vh;
  font-family: $fontFamily;
  background: $backgroundColor;
  color: $mainTextColor;
}

h4 {
  line-height: 2;
  font-size: 20px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $mainTextColor;
}
a img {
  width: 100%;
}

.wrapper {
  overflow: hidden;
}
.container {
  @include for-medium-screen {
    margin: 0 auto;
  }
  @include for-large-screen {
    min-width: 1140px;
  }
}
