$fontFamily: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans,
  liberation sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
$fontWeightExtraLarge: 900;
$fontWeightLarge: 700;
$fontWeightRegular: 400;
$headerBackground: #1eb7ee;
$backgroundColor: #e7efec;
$tableBackground: #fff;
$footerBackground: #595959;
$titleColor: #2f2f2f;
$mainTextColor: #fff;
$secondaryTextColor: #1eb7ee;
$textColor: #b8b9b9;
